$fontSize1=50px;
$fontSize2=40px;
$fontSize3=30px;
$fontSize4=20px;
$fontSize5=10px;


$padding1=50px;
$padding2=40px;
$padding3=30px;
$padding4=20px;
$padding5=10px;


$margin1=50px;
$margin2=40px;
$margin3=30px;
$margin4=20px;
$margin5=10px;

